<footer >
    <div class="footer mx-auto">
<div class="f-info p-3 m-2">
   <div class="company"> &copy; 2025 Airbnb, Inc</div>
<span><a href="">.</a></span>
<a href="">privacy</a>
<span><a href="">.</a></span>
<a href="">terms</a>
<span><a href="">.</a></span>
<a href="">sitemap</a>
<span><a href="">.</a></span>
<a href="">companydetails</a>
<span><a href="">.</a></span>
</div>
<div class="f-links p-3 m-3 ">
    <i class="fa-brands fa-instagram bg-dark text-light p-1 rounded rounded-1"></i>
    <i class="fa-brands fa-facebook bg-dark text-light p-1 rounded rounded-1"></i>
    <i class="fa-brands fa-linkedin bg-dark text-light p-1 rounded rounded-1"></i>
    <i class="fa-brands fa-twitter bg-dark text-light p-1 rounded rounded-1"></i> 

  
    </div>
</div>
    </div>
</footer>